<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contract Detail</h1>
<h3>Name : {{ object.name }}</h3>
<h3>Date : {{ object.date }}</h3>
</body>
</html>