{% extends "containers/base.html" %}

{% block content %}
<a href="{% url 'contract_new' %}">Create New Contract</a><br><br>













<table class="table">
				<thead>
						<th>
							Name
						</th>
						<th>
							Date
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>

                {% for contract in object_list %}
                    <tr>
                        <td>{{ contract.name }}</td>
                        <td>{{ contract.date }}</td>
                        <td>
                            <a href="{% url 'contract_detail' contract.id %}">Detail</a>
                            <a href="{% url 'contract_edit' contract.id %}">Edit</a>
                            <a href="{% url 'contract_delete' contract.id %}">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3"><b>Data is empty! Please, add data first.</b></td></tr>
                {% endfor %}

				</tbody>
			</table>


{% endblock %}