{% extends "containers/base.html" %}

{% block content %}
			<div class="jumbotron">
				<h2 style="color: F08080"> 
					¡Únete a la movida digital! Llevemos tu transitario al próximo nivel
				</h2>
				<p>
Compara tarifas de distintos proveedores de forma rápida y sencilla, sin importar el formato en que se encuentren. Toma mejores decisiones de pricing y disfruta los beneficios de un sistema diseñado especialmente para tu transitario.</p>

			</div>

				<div style="margin-top: 30px;margin-left: 30px;">
					<form action="contract/upload" method="post" enctype="multipart/form-data" name="upload">
						{% csrf_token %}
						<input type="file"
							   title="Upload excel file"
							   name="excel_file"
							   style="border: 1px solid black; padding: 5px;"
							   required="required">
						<p>
						<input type="submit"
							   value="Upload"
							   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
					</form>
			
					<p></p>
					<hr>
			
					{% for row in excel_data %}
						{% for cell in row %}
							{{ cell }}&nbsp;&nbsp;
						{% endfor %}
						<br>
					{% endfor %}
				</div>
			

{% endblock %}

